@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* PARTE 2 */
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* PARTE 3 */
header{
    width: 300px;
    margin: 0 550px;
}

header img {
    float: left;
}

header h1{
    position: relative;
    top: 10px;
    left: 10px;
}

/* PARTE 4 */

nav{
    width: 300px;
    margin: 0 550px;
    padding: 20px 0;
    text-align: center;
}

nav a{
    color: #000;
    margin: 20px;
    text-decoration: none;
}

/* PARTE 5 */
main{
    width: 750px;
    margin: 40px 370px;
}

section{
    width: 500px;
    height: auto;
    margin: 40px 100px;
    padding: 20px;
    background-color: #F6F6F9;
    border-radius: 20px; 
}

section h2{
    font-size: 19px;
}

#inputNovaTarefa{
    font-family: 'Lato', sans-serif;
    padding: 0 10px;
    height: 40px;
    width: 375px;
    border: 1px solid #0CCBDE;
    border-radius: 5px;
}

#btnNovaTarefa {
    height: 40px;
    width: 40px;
    
    border-radius: 20px;
    border: none;
    margin: 0 25px;
    background-color: #0CCBDE;
    color: #fff;
}

#btnNovaTarefa:hover {
    transform: scale(1.1);
}

#listaDeTarefas ul{
    margin: 0;
    padding: 0;
}

#listaDeTarefas li{
    list-style: none;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#listaDeTarefas li:hover {
    background-color: #0CCBDE;
    color: #fff;
}

#listaDeTarefas li:hover .btnEditar{
    color: #000;
    background-color: #F6F6F9;
}

.aberta {
    text-decoration: none;
}

.concluida {
    text-decoration: line-through;
    color: gray;
}


.btnEditar{
    border: none;
    float: right;
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #fff;
}


.btnDelete{
    width: 20px;
    height: auto;
    border: none;
    float: right;
    padding: 3px;
    border-radius: 5px;
}



